.timestamp {
  background-color: transparent;
  align-self: center;
  margin-left: 1rem;
}
.time {
  color: #7a899980;
  // color: rgba(0, 0, 0, 0.5);
  font-weight: lighter;
  // color: #112121;
  padding: 0.9rem;
}
