.actionInput {
  background-color: 'aqua';
}

.form {
  display: flex;

  input {
    border: none;
    padding: 0.7rem;
    flex: 1;
    width: 100%;
    font-size: 1.3rem;
    font-weight: 200;
    &:focus {
      border: none;
    }
  }
}

.timer {
  // background-color: lightgrey;
  // color: #7a899980;
  color: rgba(0, 0, 0, 0.5);
  background-color: white;
  font-weight: lighter;
  // color: #112121;
  padding: 0.9rem;
}
