.todoStyle {
  // background-color: white;
  display: flex;
  height: 100%;
  width: 100%;

  h2 {
    padding: 1rem;
  }
}

.container {
  flex: 1;
  // background-color: lightsalmon;
  text-align: center;
  padding-top: 10%;
}
