*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: rgb(245, 244, 255);
  background: linear-gradient(
    153deg,
    rgba(245, 244, 255, 1) 0%,
    rgba(221, 221, 245, 1) 37%,
    rgba(215, 248, 255, 1) 100%
  );
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #3e3e3e;

  &:hover {
    color: #112121;
  }
}

// VN TODO ITEM
.todoItem {
  cursor: pointer;

  p {
    margin: 0;
  }

  &.checked {
    .check {
      color: green;
    }
    .msg {
      color: lightgrey;
    }
  }
}

button {
  height: inherit;
  border: none;
  padding: 1rem;
  background-color: lightslategrey;
  color: white;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
}

label {
  // display: none;
}

// remove the blue focus outline
a:focus,
button:focus,
input:focus,
:focus {
  outline: none;
}

input {
  :focus,
  :active {
    background-color: white;
  }
}

.formSource {
  margin: 0 3rem;

  .active {
    opacity: 0.9;
    &:hover {
      opacity: 1;
    }
  }
  .inactive {
    // background-color: lightgrey;
    opacity: 0.4;
    &:hover {
      opacity: 0.5;
    }
  }
}

.sourceControls {
  margin-right: 2rem;
}
