body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: rgb(245, 244, 255);
  background: linear-gradient(
    153deg,
    rgba(245, 244, 255, 1) 0%,
    rgba(221, 221, 245, 1) 37%,
    rgba(215, 248, 255, 1) 100%
  );
}

ul {
  padding: 0;
}

// remove the blue focus outline
a:focus,
button:focus,
input:focus,
:focus {
  outline: none;
}

input {
  :focus,
  :active {
    background-color: white;
  }
}
