.timer {
  // background-color: lightgrey;
  color: #7a899980;
  background-color: white;
  font-weight: lighter;
  // color: #112121;
  padding: 0.9rem;
}

.todoItem {
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  margin: 0rem 2rem;
  padding: 0.5rem;
  text-align: left;

  p {
    flex: 1;
    font-weight: lighter;
    color: #112121;
  }
}

.checked {
  margin-right: 1rem;
  color: #7a8898;
}

.timestamp {
  // background-color: salmon;
  color: #7a899980;
  font-style: italic;
  margin-right: 0.5rem;
}

// THIS IS REQUIRED?
.player {
  background-color: inherit;
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

// THIS IS REQUIRED?
.reactPlayer {
  position: absolute;
  top: 0;
  left: 0;
}

.form {
  display: flex;

  input {
    border: none;
    padding: 0.7rem;
    flex: 1;
    width: 100%;
    font-size: 1.3rem;
    font-weight: 200;
    &:focus {
      border: none;
    }
  }
}
