.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.videoWrapper {
  h2 {
    padding: 1rem;
  }

  ul {
    margin-top: 1rem;
    li {
      padding: 0.5rem;
    }
  }
}

.notesWrapper {
  // background: lightsalmon;
  // margin: 0 2rem;
  width: 66.66666%;
  margin: 0.5rem auto;
  form {
    width: 100%;
  }
}

.ul {
  margin-top: 1rem;
}

.timer {
  // background-color: lightgrey;
  color: #7a899980;
  background-color: white;
  font-weight: lighter;
  // color: #112121;
  padding: 0.9rem;
}

.todoItem {
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  margin: 0rem 2rem;
  padding: 0.5rem;
  text-align: left;

  p {
    flex: 1;
    font-weight: lighter;
    color: #112121;
  }
}

.checked {
  margin-right: 1rem;
  color: #7a8898;
}

.timestamp {
  // background-color: salmon;
  color: #7a899980;
  font-style: italic;
  margin-right: 0.5rem;
}

.player {
  background-color: inherit;
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */

  // custom
  margin-bottom: 1rem;
}

.reactPlayer {
  position: absolute;
  top: 0;
  left: 0;
}

.controls {
  button {
    border: none;
    padding: 1rem;
    background-color: lightslategrey;
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}

.form {
  display: flex;

  input {
    border: none;
    padding: 0.7rem;
    flex: 1;
    width: 100%;
    font-size: 1.3rem;
    font-weight: 200;
    &:focus {
      border: none;
    }
  }

  @media screen and (min-width: 800px) {
    // background-color: salmon;
    margin: auto;
    width: 50%;
  }
}

.about {
  h2 {
    padding: 1rem;
  }

  p {
    padding: 0.5rem;
  }

  ul {
    margin-top: 1rem;
    li {
      padding: 0.5rem;
    }
  }

  a {
    font-style: italic;
  }
}

.footer {
  // background-color: lightgrey;
  font-size: 0.8rem;
  text-align: center;
  padding: 0.5rem 0;
}

.header {
  display: flex;
  align-items: center;
  padding: 0.5rem 2rem;

  h1 {
    padding: 0.5rem;
    flex: 1;
    font-weight: lighter;
    font-size: 2.1rem;
    a {
      color: lightslategrey;
    }
  }

  ul {
    list-style-type: none;
    display: flex;

    li {
      padding: 0.5rem;
      letter-spacing: 0.1px;
      font-size: 0.8rem;
      border-bottom: 1px solid transparent;
      transition: 0.25s ease;
      border-radius: 2px;
      text-transform: uppercase;

      &:hover {
        background-color: rgba(0, 0, 0, 0.2);
      }

      a {
        padding-bottom: 0.5rem;
      }
    }
  }
}

.logo {
  color: #112121;
  font-weight: 600;
}

.active {
  color: #112121;
  background-color: rgba(0, 0, 0, 0.1);
}

.layout {
  flex: 1;
  // background-color: white;
  display: flex;
  height: 100%;
  width: 100%;

  h2 {
    padding: 1rem;
  }
}

.container {
  flex: 1;
  // background-color: lightsalmon;
  text-align: center;
  // padding-top: 10%;
}
