.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.video {
  h2 {
    padding: 1rem;
  }

  p {
    padding: 0.5rem;
  }

  ul {
    margin-top: 1rem;
    li {
      padding: 0.5rem;
    }
  }
}

.todo {
  margin-top: 1rem;
  // background: lightsalmon;
}

.player {
  background-color: inherit;
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.controls {
  button {
    border: none;
    padding: 1rem;
    background-color: lightslategrey;
    color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}

.reactPlayer {
  position: absolute;
  top: 0;
  left: 0;
}

.form {
  display: flex;
  margin: 0 2rem;

  input {
    border: none;
    padding: 0.7rem;
    flex: 1;
    width: 100%;
    font-size: 1.3rem;
    font-weight: 200;
    &:focus {
      border: none;
    }
  }

  @media screen and (min-width: 800px) {
    // background-color: salmon;
    margin: auto;
    width: 50%;
  }
}

.about {
  h2 {
    padding: 1rem;
  }

  p {
    padding: 0.5rem;
  }

  ul {
    margin-top: 1rem;
    li {
      padding: 0.5rem;
    }
  }

  a {
    font-style: italic;
  }
}

.footer {
  background-color: lightgrey;
  font-size: 0.8rem;
  text-align: center;
  padding: 0.5rem 0;
}

.header {
  display: flex;
  align-items: center;
  padding: 0.5rem 2.5rem 2rem 2.5rem; // top right bottom left

  h1 {
    padding: 0.5rem;
    flex: 1;
    font-weight: lighter;
    font-size: 2.1rem;
    a {
      color: lightslategrey;
    }
  }

  ul {
    list-style-type: none;
    display: flex;

    li {
      padding: 0.5rem;
      letter-spacing: 0.1px;
      border-bottom: 1px solid transparent;

      a {
        padding-bottom: 0.5rem;

        &:hover {
          // color: #3e3e3e;
          border-bottom: 1px solid #112121;
        }
      }
    }
  }
}

.logo {
  color: #112121;
  font-weight: 600;
}

.active {
  border-bottom: 1px dashed #112121;
  color: #112121;
}

.layout {
  flex: 1;
  // background-color: white;
  display: flex;
  height: 100%;
  width: 100%;

  h2 {
    padding: 1rem;
  }
}

.container {
  flex: 1;
  // background-color: lightsalmon;
  text-align: center;
  // padding-top: 10%;
}
