.headerStyle {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  margin: 0 2rem;

  h1 {
    padding: 0.5rem;
    flex: 1;
    font-weight: lighter;
    font-size: 2.1rem;
    a {
      color: lightslategrey;
    }
  }

  ul {
    list-style-type: none;
    display: flex;

    li {
      padding: 0.5rem;
      letter-spacing: 0.1px;
      border-bottom: 1px solid transparent;

      a {
        padding-bottom: 0.5rem;

        &:hover {
          // color: #3e3e3e;
          border-bottom: 1px solid #112121;
        }
      }
    }
  }
}

.initial {
  color: #112121;
  font-weight: 600;
}

.active {
  border-bottom: 1px dashed #112121;
  color: #112121;
}
